body
{
    background-color: rgb(41, 38, 38);
}
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


/*Nav Bar*/

#header{
    background-color: rgb(41, 38, 38);
    position: sticky;
    top: 0;
    border-bottom: 4px solid chartreuse;
    z-index: 1;
}
.conteinerbar{
    width: 90%;
    margin: auto;
}
#header h1{
    color: #fff;
    font-size: 34px;
    padding: 23px 0;
    display: inline-block;

}
#header .logo{
    color:chartreuse;
}
#check{
    display: none;
}
#checked{
    color: #fff;
    font-size: 30px;
    padding: 13px 10px;
    padding-top: 15px;
    display: none;
    float: right;
}
.nawbar{
    float: right;

}
.nawbar li{
    display: inline;
}
.nawbar li a{
    color: #fff;
    font-size: 20px;
    margin: 35px 15px;
    text-decoration: none;
    display: inline-block;
}
.nawbar li a:hover{
    color: chartreuse;
}
.li-a{
    border-bottom: 2px solid chartreuse;
}
.li-i{
    border-bottom: 2px solid chartreuse;
}
.nawbar i{
    color: chartreuse;
    font-size: 22px;
}
/*/Nav Bar*/












.ImgDiv
{
    margin: auto;
    width: 70%;
    height: 350px;
    margin-top: 100px;
}
.divImg
{
    width: 30%;
    height: 350px;
    float: left;
    overflow: hidden;
    margin: 20px 20px;
    border-radius: 30px;
}
.ImgDiv .divImg img
{
    width: 100%;
    height: 350px;
    margin: auto;
    border-radius: 30px;
    transition: 1s;
    opacity: .5;
}
.ImgDiv .divImg img:hover
{
    cursor: pointer;
    transform: scale(1.2) ;
    transition: 0.5s;
    border-radius: 30px;
    opacity: 1;
    
}







.ParkHeading
{
    color: rgb(0, 255, 13);
    text-align: center;
    margin-top: 200px;
    font-size: 50px;
}
section
{
    width: 80%;
    height: 400px;
    margin: auto;
    margin-top: 40px;
}
.ParkImg
{
    width: 40%;
    height: 100%;
    float: left;
    padding: 30px;
    overflow: hidden;
}
.Img
{
    overflow: hidden;
    width: 100%;
    height: 100%;
    border: 4px solid chartreuse;
    border-radius: 20px;
    transition: .5s;
    
}
.Img:hover
{
   transform: scale(1.1);
    border-radius: 20px;
}
.ParkText
{
    width: 60%;
    height: 100%;
    float: left;
}
.Text
{
    display: inline-block;
    font-size: 23px;
    line-height: 40px;
    margin-left: 40px;
    text-align: justify;
    color: #fff;
}





.OurItSchool
{
    text-align: center;
    margin-top: 200px;
    font-size: 50px;
    color: chartreuse;
}
.ItSection
{
    width: 80%;
    height: 320px;
    margin-bottom: 200px;
}
.ItSectionDiv1
{
    width: 30%;
    height: 100%;
    float: left;
    overflow: hidden;
    
}
.ItSectionDiv2
{
    width: 40%;
    height: 100%;
    float: left;

}
.ItSectionDiv3
{
    width: 30%;
    height: 100%;
    float: right;
    overflow: hidden;
}
.OurImg
{
    width: 100%;
    height: 100%;
    filter: grayscale(100%);
    overflow: hidden;
    transition: .8s;
    
}
.OurParag
{
    margin-left: 30px;
    text-align: justify;
    line-height: 40px;
    font-size: 23px;
    margin-right: 30px;
    color: #fff;
    
}
.OurImg:hover
{
   
    filter: grayscale(0%);
    transition: .5s;
    cursor: pointer;
    transform: scale(1.3);
}











.IconDiv {
    width: 25%;
    height: 50px;
    margin: auto;
    margin-top: 50px;
}
footer
{
    width: 100%;
    height: 600px;
    background-color: rgb(48, 48, 48);
    border-top: 2px solid chartreuse;
}
footer .IconDiv .fab
{
    font-size: 32px;
    color: chartreuse;
    margin-left: 65px;
    transition: .5s;
}
footer .IconDiv .fas
{
    font-size: 32px;
    margin-left: 65px;
    color: chartreuse;
}
footer .IconDiv .fas:hover
{
    color: red;
}
footer .IconDiv .fab:hover
{
    color: aqua;
    transition: .5s;
}









.FootDiv
{
    width: 70%;
    height: 400px;
    margin: auto;
}
.footerdiv
{
    width: 20%;
    height: 100%;
    display: inline-block;
}
.footerul
{
    display: inline-block;
    margin-top: 40px;
    margin-left: 80px;
}
.footerul .footerli
{
    line-height: 40px;
    list-style-type: none;
}
.footerul .footerli a
{
    color: chartreuse;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: bold;
}
.footerul .footerli a:hover
{
    color: red;
    font-weight: bolder;
}

.DivFoot
{
    width: 80%;
    height: 100%;
    float: right;
}
.divfoot
{
    width: 40%;
    height: 100%;
    float: right;
}
.divfooter
{
    width: 60%;
    height: 100%;
    float: right;
}
.footheading
{
    margin-top: 60px;
    margin-left: 160px;
    color: chartreuse;
}
.FootParag
{
    margin-top: 20px;
    margin-left: 160px;
    color: chartreuse;
    line-height: 20px;
}
.hEADING
{
    color: chartreuse;
    margin-left: 110px;
    margin-top: 60px;
}
#For
{
    width: 40%;
    height: 40px;
    margin-left: 100px;
    margin-top: 20px;
    background-color: transparent;
    border-color: chartreuse;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    overflow: hidden;
}
.FOR
{
    border: 1px solid chartreuse;
    padding: 11px 12px;
    padding-top: 10px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    color: black;
    background-color: chartreuse;
    font-weight: bold;
}
.FOR:hover
{
    color: white;
}
#For:focus
{
    border-color: chartreuse;
}