@media only screen and (max-width: 1450px) 
{
    .section-one {
        position: fixed;
        left: -100%;
        transition: all .9s ease-in-out;
    }
    .asosiy {
        width: 100%;
        transition: all .9s ease-in-out;
    }   
}
@media only screen and (min-width: 1450px) 
{
    .section-one {
        position: fixed;
        left: 0;
        transition: all .9s ease;
    }
}