@media only screen and (max-width:576px)
{
    body{
        overflow: hidden;
        background-repeat: no-repeat;
        background-size: 100%,100%;
        background-image: url("../picture//abdulaziz/16008700225f6b5686aefa5.jpeg");

    }
    .Sec{
        position: relative;
        top: -7%;
        width: 100%;
        height: 0px;
        border-radius: 0;
        left: -100%;
        
    }
    #check:checked ~ .Sec{
        left: 0;
        height: 615px;
    }

#check:checked ~ .ico{
    left: 89%;
    top: 7%;
}
#Regs{
    position: relative;
    left: 10%;
}
   .ico{
       left: -100%;
   }
.n5{
    margin-left: 10px;
}
#n5{margin-left: 2px;
}
}